:root {
    --primary-color: #FF9843;
}

body {
    background-color: var(--primary-color);
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 18px auto;
}

video {
    width: 50%;
    padding: 18px;
}

h1 {
    text-align: center;
    font-family: Exo 2;
    color: darkmagenta;
}
